# === Python ===
__pycache__/
*.py[cod]
*.class

venv/
ENV/
env/
.env

logs/
*.log
*.DS_Store
.vscode/
.idea/
.ipynb_checkpoints/
build/
dist/
*.egg-info/

CLAUDE.md
.claude/

HANDBOOK.md

stock_csv/tickers.csv